<b> List </b>
<%= link_to 'Cover flow', gadgets_path(:mode => :imgs) %>
| <%= link_to 'New gadget', new_gadget_path %>
<hr/>

<ul>
<%- @gadgets.each do |gadget|%>
  <li class="gadget">
    <%= link_to gadget.name, gadget %>
  </li>
<% end %>
</ul>

<hr />
<%= link_to 'Sign out', destroy_user_session_path %>
